<p style="color: green"><%= notice %></p>

<% content_for :title, "Car catalog orders" %>

<h1>Car catalog orders</h1>

<div id="car_catalog_orders">
  <% @car_catalog_orders.each do |car_catalog_order| %>
    <%= render car_catalog_order %>
    <p>
      <%= link_to "Show this car catalog order", car_catalog_order %>
    </p>
  <% end %>
</div>

<%= link_to "New car catalog order", new_car_catalog_order_path %>
