<% content_for :title, "Editing engine name type" %>

<h1>Editing engine name type</h1>

<%= render "form", engine_name_type: @engine_name_type %>

<br>

<div>
  <%= link_to "Show this engine name type", @engine_name_type %> |
  <%= link_to "Back to engine name types", engine_name_types_path %>
</div>
