<% content_for :title, "New engine name type" %>

<h1>New engine name type</h1>

<%= render "form", engine_name_type: @engine_name_type %>

<br>

<div>
  <%= link_to "Back to engine name types", engine_name_types_path %>
</div>
