<div id="<%= dom_id orders_exchange %>">
  <p>
    <strong>Exchanges:</strong>
    <%= orders_exchange.exchanges_id %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= orders_exchange.order_status_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= orders_exchange.description %>
  </p>

</div>
