<% content_for :title, "Editing orders exchange" %>

<h1>Editing orders exchange</h1>

<%= render "form", orders_exchange: @orders_exchange %>

<br>

<div>
  <%= link_to "Show this orders exchange", @orders_exchange %> |
  <%= link_to "Back to orders exchanges", orders_exchanges_path %>
</div>
