<% content_for :title, "New orders exchange" %>

<h1>New orders exchange</h1>

<%= render "form", orders_exchange: @orders_exchange %>

<br>

<div>
  <%= link_to "Back to orders exchanges", orders_exchanges_path %>
</div>
