<div id="<%= dom_id orders_credit %>">
  <p>
    <strong>Credit:</strong>
    <%= orders_credit.credit_id %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= orders_credit.order_status_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= orders_credit.description %>
  </p>

</div>
