<% content_for :title, "Editing orders credit" %>

<h1>Editing orders credit</h1>

<%= render "form", orders_credit: @orders_credit %>

<br>

<div>
  <%= link_to "Show this orders credit", @orders_credit %> |
  <%= link_to "Back to orders credits", orders_credits_path %>
</div>
