<% content_for :title, "New orders credit" %>

<h1>New orders credit</h1>

<%= render "form", orders_credit: @orders_credit %>

<br>

<div>
  <%= link_to "Back to orders credits", orders_credits_path %>
</div>
