<% content_for :title, "Editing call request" %>

<h1>Editing call request</h1>

<%= render "form", call_request: @call_request %>

<br>

<div>
  <%= link_to "Show this call request", @call_request %> |
  <%= link_to "Back to call requests", call_requests_path %>
</div>
