<p style="color: green"><%= notice %></p>

<% content_for :title, "Call requests" %>

<h1>Call requests</h1>

<div id="call_requests">
  <% @call_requests.each do |call_request| %>
    <%= render call_request %>
    <p>
      <%= link_to "Show this call request", call_request %>
    </p>
  <% end %>
</div>

<%= link_to "New call request", new_call_request_path %>
