<% content_for :title, "Editing engine power type" %>

<h1>Editing engine power type</h1>

<%= render "form", engine_power_type: @engine_power_type %>

<br>

<div>
  <%= link_to "Show this engine power type", @engine_power_type %> |
  <%= link_to "Back to engine power types", engine_power_types_path %>
</div>
