<% content_for :title, "New engine power type" %>

<h1>New engine power type</h1>

<%= render "form", engine_power_type: @engine_power_type %>

<br>

<div>
  <%= link_to "Back to engine power types", engine_power_types_path %>
</div>
