<% content_for :title, "Editing car catalog configuration" %>

<h1>Editing car catalog configuration</h1>

<%= render "form", car_catalog_configuration: @car_catalog_configuration %>

<br>

<div>
  <%= link_to "Show this car catalog configuration", @car_catalog_configuration %> |
  <%= link_to "Back to car catalog configurations", car_catalog_configurations_path %>
</div>
