<p style="color: green"><%= notice %></p>

<% content_for :title, "Car catalog engines" %>

<h1>Car catalog engines</h1>

<div id="car_catalog_engines">
  <% @car_catalog_engines.each do |car_catalog_engine| %>
    <%= render car_catalog_engine %>
    <p>
      <%= link_to "Show this car catalog engine", car_catalog_engine %>
    </p>
  <% end %>
</div>

<%= link_to "New car catalog engine", new_car_catalog_engine_path %>
