<% content_for :title, "New car catalog engine" %>

<h1>New car catalog engine</h1>

<%= render "form", car_catalog_engine: @car_catalog_engine %>

<br>

<div>
  <%= link_to "Back to car catalog engines", car_catalog_engines_path %>
</div>
