<div id="<%= dom_id car_catalog_content %>">
  <p>
    <strong>Car catalog:</strong>
    <%= car_catalog_content.car_catalog_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= car_catalog_content.content %>
  </p>

</div>
