<p style="color: green"><%= notice %></p>

<% content_for :title, "Car catalog contents" %>

<h1>Car catalog contents</h1>

<div id="car_catalog_contents">
  <% @car_catalog_contents.each do |car_catalog_content| %>
    <%= render car_catalog_content %>
    <p>
      <%= link_to "Show this car catalog content", car_catalog_content %>
    </p>
  <% end %>
</div>

<%= link_to "New car catalog content", new_car_catalog_content_path %>
