<% content_for :title, "New car catalog content" %>

<h1>New car catalog content</h1>

<%= render "form", car_catalog_content: @car_catalog_content %>

<br>

<div>
  <%= link_to "Back to car catalog contents", car_catalog_contents_path %>
</div>
