<div id="<%= dom_id engine_type %>">
  <p>
    <strong>Name:</strong>
    <%= engine_type.name %>
  </p>

  <p>
    <strong>Engine power:</strong>
    <%= engine_type.engine_power %>
  </p>

  <p>
    <strong>Engine capacity:</strong>
    <%= engine_type.engine_capacity %>
  </p>

</div>
