<% content_for :title, "Editing car catalog texno" %>

<h1>Editing car catalog texno</h1>

<%= render "form", car_catalog_texno: @car_catalog_texno %>

<br>

<div>
  <%= link_to "Show this car catalog texno", @car_catalog_texno %> |
  <%= link_to "Back to car catalog texnos", car_catalog_texnos_path %>
</div>
