<div id="<%= dom_id bank %>">
  <p>
    <strong>Name:</strong>
    <%= bank.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= bank.country %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= bank.created_at %>
  </p>

</div>
