<div id="<%= dom_id car_catalog_extra %>">
  <p>
    <strong>Car catalog configuration:</strong>
    <%= car_catalog_extra.car_catalog_configuration_id %>
  </p>

  <p>
    <strong>Car catalog extra group:</strong>
    <%= car_catalog_extra.car_catalog_extra_group_id %>
  </p>

  <p>
    <strong>Car catalog extra name:</strong>
    <%= car_catalog_extra.car_catalog_extra_name_id %>
  </p>

</div>
