<% content_for :title, "Editing car catalog extra" %>

<h1>Editing car catalog extra</h1>

<%= render "form", car_catalog_extra: @car_catalog_extra %>

<br>

<div>
  <%= link_to "Show this car catalog extra", @car_catalog_extra %> |
  <%= link_to "Back to car catalog extras", car_catalog_extras_path %>
</div>
