<div id="<%= dom_id orders_installment %>">
  <p>
    <strong>Installment:</strong>
    <%= orders_installment.installment_id %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= orders_installment.order_status_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= orders_installment.description %>
  </p>

</div>
