<% content_for :title, "New orders installment" %>

<h1>New orders installment</h1>

<%= render "form", orders_installment: @orders_installment %>

<br>

<div>
  <%= link_to "Back to orders installments", orders_installments_path %>
</div>
