<% content_for :title, "Editing generation" %>

<h1>Editing generation</h1>

<%= render "form", generation: @generation %>

<br>

<div>
  <%= link_to "Show this generation", @generation %> |
  <%= link_to "Back to generations", generations_path %>
</div>
