<p style="color: green"><%= notice %></p>

<% content_for :title, "Generations" %>

<h1>Generations</h1>

<div id="generations">
  <% @generations.each do |generation| %>
    <%= render generation %>
    <p>
      <%= link_to "Show this generation", generation %>
    </p>
  <% end %>
</div>

<%= link_to "New generation", new_generation_path %>
