<% content_for :title, "Editing about company" %>

<h1>Editing about company</h1>

<%= render "form", about_company: @about_company %>

<br>

<div>
  <%= link_to "Show this about company", @about_company %> |
  <%= link_to "Back to about companies", about_companies_path %>
</div>
