<% content_for :title, "Editing credit" %>

<h1>Editing credit</h1>

<%= render "form", credit: @credit %>

<br>

<div>
  <%= link_to "Show this credit", @credit %> |
  <%= link_to "Back to credits", credits_path %>
</div>
