<div id="<%= dom_id orders_call_request %>">
  <p>
    <strong>Call request:</strong>
    <%= orders_call_request.call_request_id %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= orders_call_request.order_status_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= orders_call_request.description %>
  </p>

</div>
