<% content_for :title, "Editing orders call request" %>

<h1>Editing orders call request</h1>

<%= render "form", orders_call_request: @orders_call_request %>

<br>

<div>
  <%= link_to "Show this orders call request", @orders_call_request %> |
  <%= link_to "Back to orders call requests", orders_call_requests_path %>
</div>
