<% content_for :title, "New orders call request" %>

<h1>New orders call request</h1>

<%= render "form", orders_call_request: @orders_call_request %>

<br>

<div>
  <%= link_to "Back to orders call requests", orders_call_requests_path %>
</div>
