<% content_for :title, "Editing engine capacity type" %>

<h1>Editing engine capacity type</h1>

<%= render "form", engine_capacity_type: @engine_capacity_type %>

<br>

<div>
  <%= link_to "Show this engine capacity type", @engine_capacity_type %> |
  <%= link_to "Back to engine capacity types", engine_capacity_types_path %>
</div>
