<% content_for :title, "New engine capacity type" %>

<h1>New engine capacity type</h1>

<%= render "form", engine_capacity_type: @engine_capacity_type %>

<br>

<div>
  <%= link_to "Back to engine capacity types", engine_capacity_types_path %>
</div>
