<% content_for :title, "New car catalog image" %>

<h1>New car catalog image</h1>

<%= render "form", car_catalog_image: @car_catalog_image %>

<br>

<div>
  <%= link_to "Back to car catalog images", car_catalog_images_path %>
</div>
