<% content_for :title, "New car catalog extra group" %>

<h1>New car catalog extra group</h1>

<%= render "form", car_catalog_extra_group: @car_catalog_extra_group %>

<br>

<div>
  <%= link_to "Back to car catalog extra groups", car_catalog_extra_groups_path %>
</div>
