<div id="<%= dom_id extra %>">
  <p>
    <strong>Car:</strong>
    <%= extra.car_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= extra.category_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= extra.name %>
  </p>

</div>
