<% content_for :title, "Editing extra" %>

<h1>Editing extra</h1>

<%= render "form", extra: @extra %>

<br>

<div>
  <%= link_to "Show this extra", @extra %> |
  <%= link_to "Back to extras", extras_path %>
</div>
