<% content_for :title, "New gearbox type" %>

<h1>New gearbox type</h1>

<%= render "form", gearbox_type: @gearbox_type %>

<br>

<div>
  <%= link_to "Back to gearbox types", gearbox_types_path %>
</div>
