<div id="<%= dom_id orders_buyout %>">
  <p>
    <strong>Buyout:</strong>
    <%= orders_buyout.buyout_id %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= orders_buyout.order_status_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= orders_buyout.description %>
  </p>

</div>
