<% content_for :title, "Editing orders buyout" %>

<h1>Editing orders buyout</h1>

<%= render "form", orders_buyout: @orders_buyout %>

<br>

<div>
  <%= link_to "Show this orders buyout", @orders_buyout %> |
  <%= link_to "Back to orders buyouts", orders_buyouts_path %>
</div>
