<% content_for :title, "New orders buyout" %>

<h1>New orders buyout</h1>

<%= render "form", orders_buyout: @orders_buyout %>

<br>

<div>
  <%= link_to "Back to orders buyouts", orders_buyouts_path %>
</div>
